<nav class="nav border" fxLayout="row">
  <div fxLayout="column" class="border" fxLayoutAlign="start center">
    <a class="nav--logo">LOGO </a>
  </div>
  <div fxLayout="column " class="border" fxLayoutAlign="end center">
    <div class="nav--bar"><i class="fas fa-bars"></i></div>
    <div class="nav--menu">
      <a class="nav--menu--item">Home</a>
      <a class="nav--menu--item">Products</a>
      <a class="nav--menu--item">Services</a>
    </div>
  </div>
  <div fxLayout="column " class="border nav-box" fxLayoutAlign="end center">
    <div class="nav--bar"><i class="fas fa-bars"></i></div>
    <div class="nav--menu">
      <a class="nav--menu--item" id="button">Login</a>
      <a class="nav--menu--item" id="button">Sign Up</a>
    </div>
  </div>
</nav>
