<div fxFlex fxLayoutAlign="center center" class="bg-color form__container">
  <div
    fxFlex="90"
    class="form__bg-color elevation-20"
    fxLayout="column "
    fxLayout.gt-xs="row"
  >
    <div fxLayoutAlign="center center" fxHide fxShow.gt-xs class="" fxFlex="45">
      <div class="icon__container">
        <img class="icon__big" src="assets/icons/login-logo.svg" />
      </div>
    </div>
    <div fxLayoutAlign="center" class="" fxFlex="55">
      <div fxFlex="90" class="" fxLayout="column">
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          class="form"
          fxLayoutAlign="center"
        >
          <div fxFlex="85">
            <div class="form__heading">
              <p class="heading-secondary">Register</p>
            </div>

            <div class="form__group" fxLayout="column">
              <p class="form__label">Email</p>
              <input
                formControlName="email"
                class="form__input"
                type="text"
                placeholder="Email*"
              />
            </div>
            <div
              class="error__container"
              *ngIf="
                registerForm.controls['email'].hasError('required') &&
                registerForm.controls['email'].dirty
              "
            >
              <p class="error__text">Email is Required!</p>
            </div>
            <div
              *ngIf="
                registerForm.controls['email'].hasError('email') &&
                registerForm.controls['email'].dirty
              "
              class="error__container"
            >
              <p class="error__text">Email Must be Valid!</p>
            </div>
            <div class="form__group" fxLayout="column">
              <p class="form__label">Password</p>
              <input
                formControlName="password"
                class="form__input"
                type="password"
                placeholder="Password*"
              />
            </div>
            <div
              *ngIf="
                registerForm.controls['password'].hasError('required') &&
                registerForm.controls['password'].dirty
              "
              class="error__container"
            >
              <p class="error__text">Password is Required!</p>
            </div>
            <div class="form__group" fxLayout="column">
              <p class="form__label">Confirm Password</p>
              <input
                formControlName="confirmPassword"
                class="form__input"
                type="confirmPassword"
                placeholder="Confirm Password*"
              />
            </div>
            <div
              *ngIf="
                registerForm.controls['confirmPassword'].hasError('required') &&
                registerForm.controls['confirmPassword'].dirty
              "
              class="error__container"
            >
              <p class="error__text">Confirm Password is Required!</p>
            </div>
            <div
              *ngIf="
                registerForm.controls['confirmPassword'].hasError(
                  'matchFail'
                ) && registerForm.controls['confirmPassword'].dirty
              "
              class="error__container"
            >
              <p class="error__text">Password Does Not Match!</p>
            </div>
            <div
              class="form__btn-group"
              fxLayout="row"
              fxLayoutGap="2rem"
              fxLayoutAlign="center"
            >
              <button class="btn btn-text form__submit">Submit</button>
            </div>

            <div fxLayoutAlign="center" class="form__group">
              <a class="text-btn">Forget Password? </a>
              <p class="seperator">|</p>
              <p class="paragraph">Or you can Sign Up with</p>
            </div>

            <div fxLayoutAlign="center" class="form__group"></div>
            <div
              class="form__icon-group"
              fxLayout="row"
              fxLayoutGap="3rem"
              fxLayoutAlign="center"
            >
              <img class="icon" src="assets/icons/google.svg" />
              <img class="icon" src="assets/icons/facebook.svg" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
