// COLORS
$color-primary: #dcae52;
$color-primary-light: #ffdd6b;
$color-primary-dark: #af7132;

$color-secondary-light: #00a8cc;
$color-secondary-dark: #0c7b93;

$color-tertiary-light: #bc6ff1;
$color-tertiary-dark: #892cdc;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$bg-primary: #222831;
$bg-primary-light: #393e46;

$color-error: #ff4848;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
